* {
    font-family:fantasy;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}
#sec2 {
    background-color: #ddd3d3;
    opacity: 84%;
    box-shadow: 6px 6px;
    margin: 1%;
    padding: 2%;
    margin-top: 5%;
}


header {
    background-image: url(/asset/imagenes/design1_image1.jpg);
    background-size: 129% 156%;
    background-repeat: no-repeat;
    background-position: left;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: revert;
    border: solid 3px black;
}

nav {
    border: solid;
    border-radius: 15px;
    padding: 4px;
    background: linear-gradient(to right, #ff000591, #fdfcfc);
    box-shadow: 7px 11px rgb(6 6 6 / 24%);
    position: absolute;
    right: 27%;
    top: 58%;
}

nav>:hover {
        background-color: rgb(248, 48, 48);
        cursor: pointer;
}
/*--------------listas----------*/
li{
    border: solid 3px black;
    text-align: center;
    height: 250px;
    width: 57%;
    font-size: 31px;
    text-shadow: 2px 2px lightcoral;
    display: block;
    margin-left: 20%;
    margin-bottom: 9%;
    margin-top: 6%;
}

ul>:hover {
    transition-duration: .3s, .8s;
    transform: scale(1.30);
}

#li1 {
background-image: url(/asset/imagenes/design2_image1.jpg);
background-size: cover;
background-repeat: no-repeat;
}
#li2 {
    background-image: url(/asset/imagenes/hockey1.jpg);
    background-size: cover;
}
#li3 {
    background-image: url(/asset/imagenes/hockey2.jpg);
    background-size: cover;
}

#ol1 {
    list-style: lower-alpha;
}

ol>li {
    margin-left: 4%;
    margin-bottom: 1%;
    margin-top: 3%;
    border: none;
    text-align: left;
    height: 100%;
    width: 95%;
    font-size: initial;
    text-shadow: none;
    display: revert;
}

#unic {
    list-style-type: circle;
    margin-left: 4%;
}
/* ---------titulos, articulos---------- */

h1 {
    font-size: 41px;
    color: black;
    display: block;
    text-shadow: 2px 2px indianred;
    align-self:end;
    margin-left: 1%;
}

h2 {
    text-align: left;
    color: rgb(0, 0, 0); 
    margin-top: 3%;
    text-shadow: 2px 2px indianred;
}

h3 {
    margin-bottom: 3px;
    margin-top: 3px;
}

#h2rul {
    text-align: center;
}

#ti {
    color: black;
    display: inline;
   border-style: none;
   background: none;
   text-decoration:underline;
   box-shadow: none;
}


#art1 {
    text-align: initial;
}

/* --------------imagenes -------------*/

#IM {
    transform: scale(1.2);
    align-self: end;
    margin-left: 1%;
    margin-bottom: 0%;
}

#hockey1 {
   display: none;
}

#hockey2 {
    display: none;
}

#hockey3 {
    align-self: center;
    order: 1;
}

/* ---------etiqueta -------------*/

a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 5px;
}

#prul{
    text-align: center;
}

/* ---------tabla -------------*/

table {
    border: solid;
    text-align: center;
    margin-left: 13%;
    border-collapse: separate;
    border-spacing: 26px;
    width: 70%
}
table td:nth-child(1) {
    width: 100px;
}
caption {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px indianred;
    font-size: x-large;
}
#tix {
    text-decoration:underline;
}

form {
    text-align: initial;
    line-height: 32px;
}

#bottom{
    border: solid black;
    font-size:x-large;
    margin-top: 1%;
}

#bottom:hover {
    background-color: #ff000087;
    cursor: pointer;
}
div {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    
    header{
        width: 97%;
        height: 215px;
        margin-left: 1px;
        }

    h1 {
        font-size: larger;
    }
    #IM {
        transform: scale(0.7);
    }
    nav {
        position: absolute;
        top: 42%;
        right: 4%;
        left: 2%;
        height: 67px;
    }
    a {
        font-size: larger;
    }
    li {
        width: 95%;
    margin-left: 5px;
    margin-right: 1px;
    font-size: medium;
    }
    section {
        margin-top: 24%;
    }
    ul>:hover {
        transition-duration: inherit;
        transform: none;
    }
    h2 {
        margin-left: 7px;
    }
    #sec2 {
        margin-top: 28%;
    }
    table {
        margin-left: initial;
        border-spacing: 8px;
        font-size: small;
    }
    iframe {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

    nav {
        position: absolute;
        top: 76%;
        right: 4%;
        left: 2%;
        height: 58px;
    }
    section {
        margin-top: 10%;
    }
    #sec2 {
        margin-top: 13%;
}
iframe {
    margin-top: 10px;
}
}


