* {
    font-family: cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(/asset/imagenes/design1_image1.jpg);
    background-size: 100% 207%;
    background-repeat: no-repeat;
    margin-top: 3%;
    background-position: center;
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid 31px black;
}

nav {
    margin-top: 17px;
}
#sec1 {
    margin-left: 27px;
    margin-right: 27px;
}

/* ---------titulos, articulos---------- */

h1 {
    font-size: 60px;
    color: blue;
}

h2 {
    display: block;
    text-align: center;
    color: azure;
    position: relative;
    top: -11%;
}



#ti {
    display: inline;
}

#art1 {
    text-align: initial;
}

/* --------------imagenes -------------*/

#IM {
    display: inline;
    position: absolute;
    right: 17%;
    top: 39%;
}

#hockey1 {
    display: inline;
    float: right;
    order: 1;
    align-self: center;
}

#hockey2 {
    display: inline;
    float: right;
    order: 1;
    align-self: center;
}

#hockey3 {
    display: inline;
    float: right;
    order: 1;
    align-self: center;
}

/* ---------etiqueta -------------*/

a {
    display: block;
    font-size: 30px;
    margin-bottom: 58px;
}

li {
    margin-bottom: 10%;
}