* {
    font-family: cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(/asset/imagenes/design2_image1.jpg);
    background-size: 100% 176%;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    height: 231px;
    margin-top: 5%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     }

nav {
    position: absolute;
    bottom: 86%;
    right: 8%;
}

section {
    display: flex;
    flex-direction: column;
}

/* ---------titulos, articulos---------- */

h1 {
    font-size: 41px;
    color: blue;
    position: relative;
    bottom: 24%;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    border: solid black 3px;
    padding-right: 49px;
    margin: 0;
}
#ti3 {
    margin-left: 15%;
    margin-top: 3%;
}

#p3 {
    margin-left: 15%;
    margin-top: 3%;
}

#ti {
    color: black;
    display: inline;
   border-style: none;
   background: none;
   text-decoration:underline;
   box-shadow: none;
}
#art1 {
    margin-left: 10%;
    margin-top: 3%;
}

/* --------------imagenes -------------*/

#IM {
    position: absolute;
    top: 57%;
    left: 8%;
    transform: scale(1.7);
}

#hockey1 {
    position: absolute;
    align-self: flex-end;
}

#hockey2 {
    transform: scale(0.9);
    order: 1;
    align-self: center;
}

#hockey3 {
    position: absolute;
    left: 78%;
    top: 57%;
}

/* ---------etiqueta -------------*/

a {
    display: inline-block;
    font-size: 30px;
    margin-top: 66px;
    margin-bottom: 15px;
    border: solid 1px black;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    box-shadow: 3px 3px #565353;
}
a:hover {
    background-color: green;
}

li {
    margin-bottom: 4%;
    margin-top: 4%;
    margin-left: 12%;
}